.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin: 100px 20px 0px 20px;
    @include medium {
      font-size: 40px;
      line-height: 45px;
      margin-top: 150px;
    }
    @include large {
      font-size: 60px;
      line-height: 70px;
      margin-top: 200px;
    }
    h3 {
      font-weight: bold;
      background: linear-gradient(
        to right,
        #e72a3a 20%,
        #b8b8b8 60%,
        #0e0e0e 90%
      );
      background-size: 200% auto;
      background-clip: text;
      text-decoration: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textGradient 3s linear infinite;
    }
  }
  &__name {
    color: var(--maincolor);
  }
  &__navNetwork {
    width: 200px;
    margin-top: 10%;
    display: block;
    @include medium {
      display: none;
    }
  }
  &__scroll {
    display: flex;
    width: 30%;
    max-width: 260px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 8%;
  }
  &__scrollTitle {
    color: var(--fontseccolor);
    font-size: 12px;
    @include medium {
      font-size: 14px;
    }
    @include large {
      font-size: 16px;
    }
  }
  &__scrollArrow {
    margin-top: 20px;
    animation: arrowDownMoove 2s infinite;
    width: 20%;
    max-width: 80px;
  }
}
