.intro {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &.visible {
    display: flex;
  }
  &__container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
  }
  &__logoDiv {
    overflow: hidden;
    max-width: 60%;
    animation: introLogo 1.5s ease;
    @include medium {
      max-width: 80%;
    }
    @include large {
      max-width: 100%;
    }
  }
  &__typing {
    color: var(--maincolor);
    font-size: 48px;
    position: relative;
    text-align: center;
    @include medium {
      font-size: 60px;
    }
    @include large {
      font-size: 72px;
    }
  }

  &__typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
    @include medium {
      border-right: 3px solid black;
    }
  }
}
