.turnstile {
  width: 100%;
  height: 40vh;
  perspective: 2500px;
  animation: turnstileStartingUp 4s ease;
  @include large {
    height: 50vh;
  }
  &__stage {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 1000px);
    @include medium {
      margin-top: 150px;
    }
  }
  &__caroussel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: turnstileRotate360 8s infinite linear;
  }
  &__slide {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 160px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include medium {
      width: 195px;
      height: 260px;
    }

    @include large {
      widows: 250px;
      height: 320px;
    }
  }
  $distanceMobile: 80px;
  $distanceMedium: 130px;
  $distanceLarge: 200px;
  &__archemede {
    transform: translateZ($distanceMobile);
    @include medium {
      transform: translateZ($distanceMedium);
    }
    @include large {
      transform: translateZ($distanceLarge);
    }
  }
  &__katana {
    background-color: rgba(255, 0, 0, 0.5);
    transform: translateZ(-$distanceMobile);
    @include medium {
      transform: translateZ(-$distanceMedium);
    }
    @include large {
      transform: translateZ(-$distanceLarge);
    }
  }
  &__kaphardie {
    background-color: rgba(255, 255, 0, 0.5);
    transform: rotateY(90deg) translateZ(-$distanceMobile);
    @include medium {
      transform: rotateY(90deg) translateZ(-$distanceMedium);
    }
    @include large {
      transform: rotateY(90deg) translateZ(-$distanceLarge);
    }
  }
  &__saveit {
    background-color: rgba(0, 0, 255, 0.5);
    transform: rotateY(90deg) translateZ($distanceMobile);
    @include medium {
      transform: rotateY(90deg) translateZ($distanceMedium);
    }
    @include large {
      transform: rotateY(90deg) translateZ($distanceLarge);
    }
  }

  &__img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  &__title {
    text-shadow: 0px 0px 15px #000000;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include medium {
      font-size: 30px;
    }
    @include large {
      font-size: 38px;
    }
  }
}
