@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes typing {
    from { 
        width: 0;
        transform: translate(0%, -1000px)  rotate(0deg);
    }
    to {
         width: 100%;
        transform: translate(0%, 0%)  rotate(2520deg);
    }
}

@keyframes arrowDownMoove{
    0%{
        transform: translateY(0);
      }
      20%{
        transform: translateY(0);
      }
     50% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-15px);
      }
      80%{
        transform: translateY(0px);
      }
      100%{
        transform: translateY(0);
      }
}