img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--fontmaincolor);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.circleCursor {
  z-index: 5;
  width: 20px;
  height: 20px;
  border: 1px solid #cc0303;
  position: absolute;
  border-radius: 50px;
  pointer-events: none;
}
::selection {
  /* effet souris  */
  background: var(--maincolor); /* REMPLACER PAR LA COULEUR DÉSIRÉE*/
  color: var(--fontmaincolor);
}
